*{
    font-family: 'Silkscreen', cursive;;
}

body {
    background-color: rgb(251, 208, 218);
    background-size: 40px 40px;
    background-image: linear-gradient(to right, rgba(255,255,255,0.4) 1px, transparent 1px), linear-gradient(to bottom, rgba(255,255,255,0.4) 1px, transparent 1px);
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin: 0px;
    color: rgb(247,161,181);   
    width: 100vw;
    cursor: default;
}

button {
    padding: 0;
}

.mainWrap {
    width: 62%;
    margin: 0 auto;
    min-width: 740px;
}

.hide {
    display: none !important;
}

p {
    font-family: Indie Flower ,cursive; ;
}

.sidePanel {
    padding-bottom: 2em;
    width: 22vw;
    position: absolute;
    background: rgb(251 208 218);
    background-size: 40px 40px;
    background-image: linear-gradient(to right, rgba(247,161,181,0.4) 1px, transparent 1px), linear-gradient(to bottom, rgba(247,161,181,0.4) 1px, transparent 1px);
    border: 6px solid rgb(247,161,181);
    z-index: 100;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    left: 0;
}

.sidePanelHide {
    display: none;
}

.sidePanelDisplay {
    display: inline-block;
}

.sidePanelBar{
    background: rgb(247,161,181);
    padding: 0.25em 0.5em;
    text-align: right;
}

.XIcon {
    color: rgb(255,255,255);
    cursor: pointer;
}

.sidePanelMenu {
    color: rgb(255,255,255);
    text-align: center;
}

.sidePanelButtons {
    background-color: rgb(255,255,255);
    border: 3px solid rgb(247,161,181);
    color: rgb(247,161,181);
    border-radius: 1em;
    padding: 1em;
    font-size: 20px;
    cursor: pointer;
    width: 60%;
    margin: 1em;
    margin-bottom: 0em;
    text-shadow: 8px 5px 11px antiquewhite;
}

.sidePanelButtons:hover {
    color: antiquewhite;
    border-color: antiquewhite;
    box-shadow: 8px 5px 0px antiquewhite;

}

.site-header-inner {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

}

.buttonlines {
    color: rgb(247, 161, 181);
    font-size: 45px;
    cursor: pointer;
}

.buttoncolor {
    border: none;
    background: rgba(255, 204, 204,0); 
    display: flex;
    flex-flow: column-reverse nowrap;
    box-sizing: inherit;
}

.empty {
    height: 102px;
    margin: 20px auto;
}

.navList {
    max-width: 1200px;
    margin: 0 auto;
    font-size: 0.95em;
}

.breadcrumbList {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.breadcrumbList li+li:before {
    padding: 8px;
    color:  rgb(247,161,181);;
    content: "/\00a0";
}

.BCTheStart {
    display: inline;
}

.theStartLink {
    text-decoration: none;
    color:rgb(247, 161, 181);
    font-weight: 800;
}

.BCDearDiary {
    display: inline;
    color: rgb(247,161,181);
    cursor: text;
}

.siteBottom{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 3em;
}

.book {
    transform-style: preserve-3d;
    position: relative;
    height: 592px;
    cursor: pointer;
    backface-visibility: visible;
}

.front, .back, .page1, .page2, .page3, .page4, .page5, .page6 {
    transform-style: preserve-3d;
    position: absolute;
    width: 472px;
    height: 100%;
    top: 0; left: 0;
    transform-origin: left center;
    transition: transform .7s ease-in-out, box-shadow .35s ease-in-out;
    border-bottom-right-radius: 1.5em;
    border-top-right-radius: 1.5em;
    border: 6px white solid;
    border-left: none;
    outline: 6px rgb(255 195 209) solid;
}
  
.front, .back {
    background: rgb(251 208 218);
}

.back {
   box-shadow: -9px 16px 0px 8px rgb(247 161 181);
}

.page1 { 
    background: #efefef;
}
  
.page2 {
    background: #f5f5f5;
}
  
.page3 {
    background: #fafafa;
}
  
.page4 {
    background: #fafafa;
}
  
.page5 {
    background: #f5f5f5;
}
  
.page6 {
    background: #efefef;
}
  
.openBook {
    transform: rotateY(-160deg) scale(1);
    box-shadow: 16px 16px 0px 8px rgb(247 161 181);
}
  
  
.flip-page1 {
    transform: rotateY(-158deg) scale(1);
    box-shadow: 0 1em 3em 0 rgba(247, 161, 181, 0.2);
}
  
  
.flip-page2 {
    transform: rotateY(-156deg) scale(1);
    box-shadow: 0 1em 3em 0 rgba(247, 161, 181, 0.2);
}

.flip-page3 {
    transform: rotateY(-154deg) scale(1);
    box-shadow: 0 1em 3em 0 rgba(247, 161, 181, 0.2);
}

.flip-page4 {
    transform: rotateY(-152deg) scale(1);
    box-shadow: 0 1em 3em 0 rgba(247, 161, 181, 0.2);
}

.flip-page5 {
    transform: rotateY(-150deg) scale(1);
    box-shadow: 0 1em 3em 0 rgba(247, 161, 181, 0.2);
}

.flip-page6 {
    transform: rotateY(-148deg) scale(1);
    box-shadow: 0 1em 3em 0 rgba(247, 161, 181, 0.2);
}

.bkPgHide {
    backface-visibility: hidden;
}

.sun {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.innerCover {
    height: 30%;
    display: flex;
    justify-content: end;
    padding-right: 30px;
}

.paraBox {
    width: 200px;
}

.MD {
    width: 100%;
    border-bottom: solid 2px;
}

.dDate {
    text-align: end;
    padding: 0 30px;
}

.dContent {
    padding: 0 30px;
}

.dand {
    height: 50%;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.dais {
    height: 50%;
    display: flex;
    justify-content: end;
    padding-right: 30px;
}

.drawingBox {
    height: 460px;
}

.mochiDrawing {
    width: 85%;
    transform: rotate(339deg) translateY(140px) translateX(-31px);
}